# Dependências
node_modules/
npm-debug.log*

# Logs
*.log
logs/

# Backups
backups/
*.zip
*.bak

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
firebase-config.js  # Senha Firebase (regerar)

# Temp
/dist
/build

